	body
	{
		margin-left 100px;
		max-width: 500px;
	}
	div {
		max-width: 200px;
		margin: auto;
	}
	textarea {
		resize: none;
		height: 30px;
		width: 500px;
	}
	.opis
	{
		color: blue;
		font-weight: bold;
		font-size: 25px;
	}
	.todo
	{
		font-size: 20px;
	}
